{{reservationForm.value | json}}

<form [formGroup]="reservationForm">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="guestName" placeholder="Enter Name">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput formControlName="mobileNumber" placeholder="Enter Mobile Number">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="guestEmail" placeholder="Enter Email">
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Room</mat-label>
        <mat-select formControlName="room">
            <mat-option *ngFor="let roomOption of roomLookupItems" [value]="roomOption">
                {{ roomOption.displayValue }}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="reservationAmount" placeholder="Enter Amount">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check-in Date</mat-label>
        <input matInput [matDatepicker]="checkInDatePicker" formControlName="checkInDate"
        (dateChange)="onCheckDateChange()">
        <mat-datepicker-toggle matIconSuffix [for]="checkInDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #checkInDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check-out Date</mat-label>
        <input matInput [matDatepicker]="checkOutDatePicker" formControlName="checkOutDate"
            (dateChange)="onCheckDateChange()">
        <mat-error *ngIf="reservationForm.get('checkOutDate')?.hasError('dateRange')">
            Check-out Date must be greater than Check-in Date.
        </mat-error>
        <mat-datepicker-toggle matIconSuffix [for]="checkOutDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #checkOutDatePicker></mat-datepicker>
    </mat-form-field>

    <div>
        <button [disabled]="reservationForm.invalid" mat-raised-button (click)="addReservation()" color="primary">Book
            Room</button>
    </div>

</form>