
{{reservationForm.value | json}}

<form [formGroup]="reservationForm">

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="guestName" placeholder="Enter Name">
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Mobile Number</mat-label>
        <input type="text" matInput formControlName="mobileNumber" placeholder="Enter Mobile Number">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="guestEmail" placeholder="Enter Email">
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Room</mat-label>
        <mat-select formControlName="room">
            <mat-option value="1">King</mat-option>
            <mat-option value="2">Queen</mat-option>
            <mat-option value="3">Twin</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Room</mat-label>
        <mat-select formControlName="room">
          <mat-option *ngFor="let roomOption of roomLookupItems" [value]="roomOption.roomId">
            {{ roomOption.displayValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Amount</mat-label>
        <input type="number" matInput formControlName="reservationAmount" placeholder="Enter Amount">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check-in Date</mat-label>
        <input matInput [matDatepicker]="checkinDatePicker" formControlName="checkinDate">
        <mat-datepicker-toggle matIconSuffix [for]="checkinDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #checkinDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Check-out Date</mat-label>
        <input matInput [matDatepicker]="checkoutDatePicker" formControlName="checkoutDate">
        <mat-datepicker-toggle matIconSuffix [for]="checkoutDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #checkoutDatePicker></mat-datepicker>
    </mat-form-field>

    <div>
        <button [disabled]="reservationForm.invalid" mat-raised-button (click)="addReservation()" color="primary">Book Room</button>
    </div>

</form>